Parse850FromArticle/src/main/resources/276_mapping.dfdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
            xmlns:fn="http://www.w3.org/2005/xpath-functions"
            xmlns:ibmEdiFmt="http://www.ibm.com/dfdl/EDI/Format"
            xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
            xmlns:tns="http://www.ibm.com/dfdl/edi/276"
            targetNamespace="http://www.ibm.com/dfdl/edi/276">

    <xsd:import namespace="http://www.ibm.com/dfdl/EDI/Format"
                schemaLocation="/EDIFACT-Common/IBM_EDI_Format.dfdl.xsd"/>

    <xsd:annotation>
        <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format ref="ibmEdiFmt:EDIFormat"/>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element ibmSchExtn:docRoot="true" name="X12_276_Interchange">
        <xsd:complexType>
            <xsd:sequence dfdl:initiatedContent="yes">
                <xsd:element dfdl:initiator="ISA" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="interchange-header">
                    <xsd:complexType>
                        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
                            <xsd:element name="authorization-info-qualifier" type="xsd:string" dfdl:length="2"/>
                            <xsd:element name="authorization-info" type="xsd:string" dfdl:length="10"/>
                            <xsd:element name="security-info-qualifier" type="xsd:string" dfdl:length="2"/>
                            <xsd:element name="security-info" type="xsd:string" dfdl:length="10"/>
                            <xsd:element name="interchange-sender-id-qualifier" type="xsd:string" dfdl:length="2"/>
                            <xsd:element name="interchange-sender-id" type="xsd:string" dfdl:length="15"/>
                            <xsd:element name="interchange-receiver-id-qualifier" type="xsd:string" dfdl:length="2"/>
                            <xsd:element name="interchange-receiver-id" type="xsd:string" dfdl:length="15"/>
                            <xsd:element name="interchange-date" type="xsd:string" dfdl:length="6"/>
                            <xsd:element name="interchange-time" type="xsd:string" dfdl:length="4"/>
                            <xsd:element name="repetition-separator" type="xsd:string" dfdl:length="1"/>
                            <xsd:element name="interchange-control-version" type="xsd:string" dfdl:length="5"/>
                            <xsd:element name="interchange-control-number" type="xsd:string" dfdl:length="9"/>
                            <xsd:element name="acknowledgment-requested" type="xsd:string" dfdl:length="1"/>
                            <xsd:element name="usage-indicator" type="xsd:string" dfdl:length="1"/>
                            <xsd:element name="component-separator" type="xsd:string" dfdl:length="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element dfdl:initiator="GS" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="group-header">
                    <xsd:complexType>
                        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
                            <xsd:element name="functional-group-id" type="xsd:string"/>
                            <xsd:element name="application-sender-code" type="xsd:string"/>
                            <xsd:element name="application-receiver-code" type="xsd:string"/>
                            <xsd:element name="group-date" type="xsd:string"/>
                            <xsd:element name="group-time" type="xsd:string"/>
                            <xsd:element name="group-control-number" type="xsd:string"/>
                            <xsd:element name="responsible-agency-code" type="xsd:string"/>
                            <xsd:element name="version-release-industry-code" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element dfdl:initiator="ST" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="transaction-set-header">
                    <xsd:complexType>
                        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
                            <xsd:element name="transaction-set-id" type="xsd:string"/>
                            <xsd:element name="transaction-set-control-number" type="xsd:string"/>
                            <xsd:element name="implementation-convention-reference" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element dfdl:initiator="BHT" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="beginning-hierarchical-transaction" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
                            <xsd:element name="hierarchical-structure-code" type="xsd:string"/>
                            <xsd:element name="transaction-set-purpose-code" type="xsd:string"/>
                            <xsd:element name="reference-identification" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="transaction-creation-date" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="transaction-creation-time" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="transaction-type-code" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <!-- Any number of segments in any order -->
                <xsd:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>

                <xsd:element dfdl:initiator="SE" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="transaction-set-trailer">
                    <xsd:complexType>
                        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
                            <xsd:element name="number-of-segments" type="xsd:string"/>
                            <xsd:element name="transaction-set-control-number" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element dfdl:initiator="GE" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="group-trailer">
                    <xsd:complexType>
                        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
                            <xsd:element name="number-of-transaction-sets" type="xsd:string"/>
                            <xsd:element name="group-control-number" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element dfdl:initiator="IEA" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="interchange-trailer">
                    <xsd:complexType>
                        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
                            <xsd:element name="number-of-functional-groups" type="xsd:string"/>
                            <xsd:element name="interchange-control-number" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>