Parse850FromArticle/src/main/resources/835_mapping.dfdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
            xmlns:ibmEdiFmt="http://www.ibm.com/dfdl/EDI/Format"
            xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

    <xsd:import namespace="http://www.ibm.com/dfdl/EDI/Format"
                schemaLocation="/EDIFACT-Common/IBM_EDI_Format.dfdl.xsd"/>

    <xsd:annotation>
        <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format ref="ibmEdiFmt:EDIFormat"/>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element ibmSchExtn:docRoot="true" name="X12_835_Interchange">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element dfdl:initiator="ISA" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="interchange-header"
                             type="ISA_InterchangeHeader"/>
                <xsd:element dfdl:initiator="GS" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="group-header"
                             type="GS_FunctionalGroupHeader"/>
                <xsd:element dfdl:initiator="ST" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="transaction-set-header"
                             type="ST_TransactionSetHeader"/>

                <xsd:element name="HealthCareClaimPayment">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element dfdl:initiator="BPR" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                         name="financial-information" type="BPR_Segment"/>
                            <xsd:element dfdl:initiator="TRN" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                         name="reassociation-trace-number" type="TRN_Segment"/>
                            <xsd:element dfdl:initiator="CUR" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                         name="foreign-currency-information" type="CUR_Segment" minOccurs="0"/>
                            <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                         name="receiver-identification" type="REF_Segment" minOccurs="0"
                                         maxOccurs="unbounded"/>
                            <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                         name="version-identification" type="REF_Segment" minOccurs="0"
                                         maxOccurs="unbounded"/>
                            <xsd:element dfdl:initiator="DTM" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                         name="production-date" type="DTM_Segment" minOccurs="0" maxOccurs="unbounded"/>

                            <xsd:element name="Loop_1000A_Payer">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element dfdl:initiator="N1" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payer-identification" type="N1_Segment"/>
                                        <xsd:element dfdl:initiator="N3" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payer-address" type="N3_Segment" minOccurs="0"/>
                                        <xsd:element dfdl:initiator="N4" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payer-city-state-zip" type="N4_Segment" minOccurs="0"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="additional-payer-id" type="REF_Segment" minOccurs="0"
                                                     maxOccurs="unbounded"/>
                                        <xsd:element dfdl:initiator="PER" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payer-contact-info" type="PER_Segment" minOccurs="0"
                                                     maxOccurs="unbounded"/>
                                        <xsd:element dfdl:initiator="PER" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payer-technical-contact-info" type="PER_Segment" minOccurs="0"
                                                     maxOccurs="unbounded"/>
                                        <xsd:element dfdl:initiator="PER" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payer-website" type="PER_Segment" minOccurs="0"
                                                     maxOccurs="unbounded"/>
                                    </xsd:sequence>

                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="Loop_1000B_Payee">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element dfdl:initiator="N1" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payee-identification" type="N1_Segment"/>
                                        <xsd:element dfdl:initiator="N3" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payee-address" type="N3_Segment" minOccurs="0"/>
                                        <xsd:element dfdl:initiator="N4" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payee-city-state-zip" type="N4_Segment" minOccurs="0"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="payee-identification-ref" type="REF_Segment" minOccurs="0"
                                                     maxOccurs="unbounded"/>
                                        <xsd:element dfdl:initiator="RDM" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="remittance-delivery-method" type="RDM_Segment"
                                                     minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="Loop_2000_Header" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element dfdl:initiator="LX" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="header-number" type="LX_Segment"/>
                                        <xsd:element dfdl:initiator="TS3" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="provider-summary-info" type="TS3_Segment" minOccurs="0"/>
                                        <xsd:element dfdl:initiator="TS2" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                     name="provider-supplemental-summary" type="TS2_Segment"
                                                     minOccurs="0"/>

                                        <xsd:element name="Loop_2100_ClaimPayment" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element dfdl:initiator="CLP"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="claim-payment-information" type="CLP_Segment"/>
                                                    <xsd:element dfdl:initiator="CAS"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="claim-adjustment" type="CAS_Segment"
                                                                 minOccurs="0" maxOccurs="99"/>
                                                    <xsd:element dfdl:initiator="NM1"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="patient-name" type="NM1_Segment"/>
                                                    <xsd:element dfdl:initiator="NM1"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="insured-name" type="NM1_Segment" minOccurs="0"/>
                                                    <xsd:element dfdl:initiator="NM1"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="corrected-patient-insured" type="NM1_Segment"
                                                                 minOccurs="0"/>
                                                    <xsd:element dfdl:initiator="NM1"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="service-provider-name" type="NM1_Segment"
                                                                 minOccurs="0"/>
                                                    <xsd:element dfdl:initiator="NM1"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="crossover-carrier-name" type="NM1_Segment"
                                                                 minOccurs="0"/>
                                                    <xsd:element dfdl:initiator="NM1"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="corrected-priority-payer-name" type="NM1_Segment"
                                                                 minOccurs="0"/>
                                                    <xsd:element dfdl:initiator="MIA"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="inpatient-adjudication" type="MIA_Segment"
                                                                 minOccurs="0"/>
                                                    <xsd:element dfdl:initiator="MOA"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="outpatient-adjudication" type="MOA_Segment"
                                                                 minOccurs="0"/>
                                                    <xsd:element dfdl:initiator="REF"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="other-claim-related-id" type="REF_Segment"
                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                    <xsd:element dfdl:initiator="REF"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="rendering-provider-id" type="REF_Segment"
                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                    <xsd:element dfdl:initiator="DTM"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="statement-from-or-to-date" type="DTM_Segment"
                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                    <xsd:element dfdl:initiator="DTM"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="coverage-expiration" type="DTM_Segment"
                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                    <xsd:element dfdl:initiator="DTM"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="claim-received" type="DTM_Segment"
                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                    <xsd:element dfdl:initiator="PER"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="claim-contact-info" type="PER_Segment"
                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                    <xsd:element dfdl:initiator="AMT"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="claim-level-amounts" type="AMT_Segment"
                                                                 minOccurs="0" maxOccurs="unbounded"/>
                                                    <xsd:element dfdl:initiator="QTY"
                                                                 dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                 name="claim-level-quantity" type="QTY_Segment"
                                                                 minOccurs="0" maxOccurs="unbounded"/>

                                                    <xsd:element name="Loop_2110_ServicePayment" minOccurs="0"
                                                                 maxOccurs="999">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element dfdl:initiator="SVC"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="service-payment-information"
                                                                             type="SVC_Segment"/>
                                                                <xsd:element dfdl:initiator="DTM"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="service-date" type="DTM_Segment"
                                                                             minOccurs="0" maxOccurs="unbounded"/>
                                                                <xsd:element dfdl:initiator="CAS"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="service-adjustment"
                                                                             type="CAS_Segment" minOccurs="0"
                                                                             maxOccurs="99"/>
                                                                <xsd:element dfdl:initiator="REF"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="service-identification"
                                                                             type="REF_Segment" minOccurs="0"
                                                                             maxOccurs="unbounded"/>
                                                                <xsd:element dfdl:initiator="REF"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="line-item-control-number"
                                                                             type="REF_Segment" minOccurs="0"
                                                                             maxOccurs="unbounded"/>
                                                                <xsd:element dfdl:initiator="REF"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="rendering-provider-information"
                                                                             type="REF_Segment" minOccurs="0"
                                                                             maxOccurs="unbounded"/>
                                                                <xsd:element dfdl:initiator="REF"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="healthcare-policy-identification"
                                                                             type="REF_Segment" minOccurs="0"
                                                                             maxOccurs="unbounded"/>
                                                                <xsd:element dfdl:initiator="AMT"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="service-supplemental-amount"
                                                                             type="AMT_Segment" minOccurs="0"
                                                                             maxOccurs="unbounded"/>
                                                                <xsd:element dfdl:initiator="QTY"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="service-supplemental-quantity"
                                                                             type="QTY_Segment" minOccurs="0"
                                                                             maxOccurs="unbounded"/>
                                                                <xsd:element dfdl:initiator="LQ"
                                                                             dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                                                             name="healthcare-remark-codes"
                                                                             type="LQ_Segment" minOccurs="0"
                                                                             maxOccurs="99"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element dfdl:initiator="PLB" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                                         name="provider-adjustment" type="PLB_Segment" minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element dfdl:initiator="SE" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="transaction-set-trailer"
                             type="SE_TransactionSetTrailer"/>
                <xsd:element dfdl:initiator="GE" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="functional-group-trailer"
                             type="GE_FunctionalGroupTrailer"/>
                <xsd:element dfdl:initiator="IEA" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="interchange-control-trailer" type="IEA_InterchangeTrailer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Segment Type Definitions -->
    <xsd:complexType name="ISA_InterchangeHeader">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="auth-qual" type="alpha2-2"/>
            <xsd:element name="auth-id" type="alpha10-10"/>
            <xsd:element name="security-qual" type="alpha2-2"/>
            <xsd:element name="security-id" type="alpha10-10"/>
            <xsd:element name="sender-qual" type="alpha2-2"/>
            <xsd:element name="sender-id" type="alpha15-15"/>
            <xsd:element name="receiver-qual" type="alpha2-2"/>
            <xsd:element name="receiver-id" type="alpha15-15"/>
            <xsd:element name="date" type="alpha6-6"/>
            <xsd:element name="time" type="numeric4-4"/>
            <xsd:element name="standard" type="alpha1-1"/>
            <xsd:element name="version" type="numeric5-5"/>
            <xsd:element name="interchange-control-number" type="numeric9-9"/>
            <xsd:element name="ack" type="numeric1-1"/>
            <xsd:element name="test" type="alpha1-1"/>
            <xsd:element name="s-delimiter" type="alpha1-1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GS_FunctionalGroupHeader">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="code" type="alpha2-2"/>
            <xsd:element name="sender" type="alpha2-15"/>
            <xsd:element name="receiver" type="alpha2-15"/>
            <xsd:element name="date" type="alpha8-8"/>
            <xsd:element name="time" type="numeric4-8"/>
            <xsd:element name="group-control-number" type="numeric1-9"/>
            <xsd:element name="standard" type="alpha1-2"/>
            <xsd:element name="version" type="alpha1-12"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ST_TransactionSetHeader">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="code" type="numeric3-3"/>
            <xsd:element name="transaction-set-control-number" type="alpha4-9"/>
            <xsd:element name="implementation-convention-reference" type="alpha1-35" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BPR_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="transaction-handling-code" type="alpha1-2"/>
            <xsd:element name="monetary-amount" type="decimal1-18"/>
            <xsd:element name="credit-debit-flag-code" type="alpha1-1"/>
            <xsd:element name="payment-method-code" type="alpha3-3"/>
            <xsd:element name="payment-format-code" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="depository-financial-institution-dfi-identification-number-qualifier" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="depository-financial-institution-dfi-identification-number" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="account-number-qualifier" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="sender-bank-account-number" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="originating-company-identifier" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="originating-company-supplemental-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="receiver-or-provider-bank-id-number-qualifier" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="receiver-or-provider-bank-id-number" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="receiver-or-provider-account-number-qualifier" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="receiver-or-provider-account-number" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="business-function-code" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="dfi-id-number-qualifier" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="dfi-identification-number" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="account-number-qualifier-2" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="sender-bank-account-number-2" type="alpha1-17" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TRN_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="trace-type-code" type="alpha1-2"/>
            <xsd:element name="reference-identification" type="alpha1-50"/>
            <xsd:element name="originating-company-identifier" type="alpha10-10" minOccurs="0"/>
            <xsd:element name="reference-identification-2" type="alpha1-50" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CUR_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="entity-identifier-code" type="alpha2-3"/>
            <xsd:element name="currency-code" type="alpha3-3"/>
            <xsd:element name="exchange-rate" type="decimal4-10" minOccurs="0"/>
            <xsd:element name="entity-identifier-code-2" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="currency-code-2" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="currency-market-exchange-code" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="date-time-qualifier" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="time" type="alpha4-8" minOccurs="0"/>
            <xsd:element name="date-time-qualifier-2" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="date-2" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="time-2" type="alpha4-8" minOccurs="0"/>
            <xsd:element name="date-time-qualifier-3" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="date-time-period" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="date-time-period-2" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier-2" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="date-time-period-3" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier-3" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="date-time-period-4" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier-4" type="alpha2-3" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="REF_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="reference-identification-qualifier" type="alpha2-3"/>
            <xsd:element name="reference-identification" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="description" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="reference-identifier" type="C040_Type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DTM_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="date-time-qualifier" type="alpha3-3"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="time" type="alpha4-8" minOccurs="0"/>
            <xsd:element name="time-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="date-time-period" type="alpha1-2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="N1_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="entity-identifier-code" type="alpha2-3"/>
            <xsd:element name="name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="identification-code-qualifier" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="identification-code" type="alpha2-80" minOccurs="0"/>
            <xsd:element name="entity-identifier-code-2" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="identification-code-2" type="alpha2-80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NM1_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="entity-identifier-code" type="alpha2-3"/>
            <xsd:element name="entity-type-qualifier" type="alpha1-1"/>
            <xsd:element name="name-last-or-organization-name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="name-first" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="name-middle" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="name-prefix" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="name-suffix" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="identification-code-qualifier" type="alpha1-3" minOccurs="0"/>
            <xsd:element name="identification-code" type="alpha2-80" minOccurs="0"/>
            <xsd:element name="entity-relationship-code" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="entity-identifier-code-2" type="alpha2-80" minOccurs="0"/>
            <xsd:element name="entity-identifier-code-qualifier-2" type="alpha2-3" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="N3_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="address-information" type="alpha1-55"/>
            <xsd:element name="address-information-2" type="alpha1-55" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="N4_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="city-name" type="alpha2-30"/>
            <xsd:element name="state-or-province-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="postal-code" type="alpha3-15" minOccurs="0"/>
            <xsd:element name="country-code" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="location-qualifier" type="alpha1-4" minOccurs="0"/>
            <xsd:element name="location-identifier" type="alpha1-4" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Name_Segment_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="entity-identifier-code" type="alpha2-3"/>
            <xsd:element name="name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="identification-code-qualifier" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="identification-code" type="alpha2-80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Address_Segment_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="address-information" type="alpha1-55"/>
            <xsd:element name="address-information-2" type="alpha1-55" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Location_Segment_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="city-name" type="alpha2-30"/>
            <xsd:element name="state-or-province-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="postal-code" type="numeric3-15" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PER_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="contact-function-code" type="alpha2-2"/>
            <xsd:element name="name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="communication-number-qualifier" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="communication-number" type="alpha1-256" minOccurs="0"/>
            <xsd:element name="communication-number-qualifier-2" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="communication-number-2" type="alpha1-256" minOccurs="0"/>
            <xsd:element name="communication-number-qualifier-3" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="communication-number-3" type="alpha1-256" minOccurs="0"/>
            <xsd:element name="contact-inquiry-reference" type="alpha7-20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RDM_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="report-transmission-code" type="alpha1-2"/>
            <xsd:element name="name" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="communication-number-qualifier" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="communication-number" type="alpha1-256" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LX_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="assigned-number" type="numeric1-6"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TS3_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="reference-identification" type="alpha2-80"/>
            <xsd:element name="facility-code-value" type="alpha1-9" minOccurs="0"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="quantity" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-2" type="numeric1-6" minOccurs="0"/>
            <xsd:element name="monetary-amount-3" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-4" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-5" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-6" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-7" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-8" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-9" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-10" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-11" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-12" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-13" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-14" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-15" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-16" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-17" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-18" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-19" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-20" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TS2_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="supplemental-amount-1" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-2" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-3" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-4" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-5" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-6" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-7" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-8" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-9" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-10" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-11" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-12" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-13" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-14" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-15" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-16" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-17" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-18" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-19" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CLP_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="claim-submitters-identifier" type="alpha1-38"/>
            <xsd:element name="claim-status-code" type="numeric1-2"/>
            <xsd:element name="total-claim-charge-amount" type="decimal1-18"/>
            <xsd:element name="claim-payment-amount" type="decimal1-18"/>
            <xsd:element name="patient-responsibility-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-filing-indicator-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="payer-claim-control-number" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="facility-type-code" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="claim-frequency-code" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="patient-status-code" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="diagnosis-related-group-code" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="drg-weight" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="discharge-fraction" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="ymd-date" type="alpha1-38" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CAS_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="claim-adjustment-group-code" type="alpha1-2"/>
            <xsd:element name="claim-adjustment-reason-code" type="alpha1-5"/>
            <xsd:element name="monetary-amount" type="decimal1-18"/>
            <xsd:element name="quantity" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-2" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-2" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-2" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-3" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-3" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-3" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-4" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-4" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-4" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-5" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-5" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-5" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-6" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-6" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-6" type="decimal1-15" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MIA_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="covered-days-or-visits-count" type="decimal1-18"/>
            <xsd:element name="pps-operating-outlier-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="lifetime-psychiatric-days-count" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code" type="alpha1-15" minOccurs="0"/>
            <xsd:element name="claim-disproportionate-share-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-msp-pass-through-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-pps-capital-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-fsp-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-hsp-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-dsh-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="old-capital-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-ime-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-operating-hospital-specific-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="cost-report-day-count" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-operating-federal-specific-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-pps-capital-outlier-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-indirect-medical-education-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="nonpayable-professional-component-billed-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-2" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-3" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-4" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="pps-capital-exception-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-disproportionate-share-drg-amount" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MOA_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="reimbursement-rate" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="hcpcs-payable-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-2" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-3" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-4" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-5" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="end-stage-renal-disease-payment-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="non-payable-professional-component-billed-amount" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AMT_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="amount-qualifier-code" type="alpha1-3"/>
            <xsd:element name="monetary-amount" type="decimal1-18"/>
            <xsd:element name="credit-debit-flag-code" type="alpha1-1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QTY_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="quantity-qualifier" type="alpha2-2"/>
            <xsd:element name="quantity" type="decimal1-15"/>
            <xsd:element name="composite-unit-of-measure" type="C001_Type" minOccurs="0"/>
            <xsd:element name="free-form-information" type="alpha1-1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SVC_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="composite-medical-procedure-identifier" type="alpha1-80"/>
            <xsd:element name="line-item-charge-amount" type="decimal1-18"/>
            <xsd:element name="line-item-provider-payment-amount" type="decimal1-18"/>
            <xsd:element name="national-uniform-billing-committee-revenue-code" type="alpha1-48" minOccurs="0"/>
            <xsd:element name="quantity" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="composite-medical-procedure-identifier-original" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="units-of-service-count" type="decimal1-15" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LQ_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="code-list-qualifier-code" type="alpha2-2"/>
            <xsd:element name="industry-code" type="alpha1-30"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PLB_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="provider-identifier" type="alpha2-80"/>
            <xsd:element name="fiscal-period-date" type="alpha8-8"/>
            <xsd:element name="adjustment-identifier" type="alpha1-50"/>
            <xsd:element name="provider-adjustment-amount" type="decimal1-18"/>
            <xsd:element name="adjustment-identifier-2" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-2" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="adjustment-identifier-3" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-3" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="adjustment-identifier-4" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-4" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="adjustment-identifier-5" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-5" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="adjustment-identifier-6" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-6" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SE_TransactionSetTrailer">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="number-of-included-segments" type="numeric1-10"/>
            <xsd:element name="transaction-set-control-number" type="alpha4-9"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GE_FunctionalGroupTrailer">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="number-of-transaction-sets" type="numeric1-6"/>
            <xsd:element name="group-control-number" type="numeric1-9"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IEA_InterchangeTrailer">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="number-of-function-groups-included" type="numeric1-5"/>
            <xsd:element name="interchange-control-number" type="numeric9-9"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Composite Data Element Types -->
    <xsd:complexType name="C001_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="unit-or-basis-for-measurement-code" type="alpha2-2"/>
            <xsd:element name="exponent" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="multiplier" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code-2" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="exponent-2" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="multiplier-2" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code-3" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="exponent-3" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="multiplier-3" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code-4" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="exponent-4" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="multiplier-4" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code-5" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="exponent-5" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="multiplier-5" type="alpha2-2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="C003_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="product-service-id-qualifier" type="alpha1-48"/>
            <xsd:element name="product-service-id" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-modifier-1" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-modifier-2" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-modifier-3" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-modifier-4" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-description" type="alpha1-30" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="C040_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="reference-identification-qualifier" type="alpha1-30"/>
            <xsd:element name="reference-identification" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="reference-identification-qualifier-2" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="reference-identification-2" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="reference-identification-qualifier-3" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="reference-identification-3" type="alpha1-30" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="C042_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="adjustment-reason-code" type="alpha1-2"/>
            <xsd:element name="provider-adjustment-identifier" type="alpha1-50"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Simple Type Definitions -->
    <xsd:simpleType name="alpha1-1">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-2">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-3">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-4">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-5">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-7">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="7"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-9">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-10">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-12">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-15">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-17">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="17"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-30">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-35">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-38">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="38"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-48">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="48"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-50">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-55">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="55"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-60">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-80">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-2">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-3">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha3-3">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-15">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha4-9">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-30">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-80">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-256">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha10-10">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="10"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha15-15">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="15"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha4-8">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha7-20">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="7"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha6-6">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="6"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha8-8">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="8"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha3-15">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Numeric Types -->
    <xsd:simpleType name="numeric1-1">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-2">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric3-3">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-5">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-6">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,6}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-9">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,9}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-10">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,10}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric3-15">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3,15}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric4-4">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric4-8">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4,8}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric5-5">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric6-6">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{6}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric8-8">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{8}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric9-9">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{9}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Decimal Types -->
    <xsd:simpleType name="decimal1-15">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]{1,13}(\.[0-9]{1,2})?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal1-18">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]{1,16}(\.[0-9]{1,2})?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal4-10">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]{1,8}(\.[0-9]{1,2})?"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>