Parse850FromArticle/src/main/resources/837_mapping.dfdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
            xmlns:ibmEdiFmt="http://www.ibm.com/dfdl/EDI/Format"
            xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

    <xsd:import namespace="http://www.ibm.com/dfdl/EDI/Format"
                schemaLocation="/EDIFACT-Common/IBM_EDI_Format.dfdl.xsd"/>

    <xsd:annotation>
        <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format ref="ibmEdiFmt:EDIFormat"/>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element ibmSchExtn:docRoot="true" name="X12_835_Interchange">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element dfdl:initiator="ISA" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="interchange-header"
                             type="ISA_InterchangeHeader"/>
                <xsd:element dfdl:initiator="GS" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="group-header"
                             type="GS_FunctionalGroupHeader"/>
                <xsd:element dfdl:initiator="ST" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="transaction-set-header"
                             type="ST_TransactionSetHeader"/>
                <xsd:element dfdl:initiator="BHT" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="beginning-hierarchical-transaction"
                             type="BHT_BeginningHierarchicalTransaction" minOccurs="0"/>
                
                <!-- Loop 1000A - Submitter Name -->
                <xsd:element name="Loop_1000A_SubmitterName" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element dfdl:initiator="NM1" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="submitter-name"
                                         type="NM1_Segment" minOccurs="1" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="PER" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="submitter-edi-contact-information"
                                         type="PER_Segment" minOccurs="0" maxOccurs="2"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                
                <!-- Loop 1000B - Receiver Name -->
                <xsd:element name="Loop_1000B_ReceiverName" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element dfdl:initiator="NM1" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="receiver-name"
                                         type="NM1_Segment" minOccurs="1" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                
                <!-- Loop 2000A - Billing Provider Detail -->
                <xsd:element name="Loop_2000A_BillingProviderDetail" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element dfdl:initiator="HL" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-hierarchical-level"
                                         type="HL_Segment" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                                        <dfdl:discriminator test="{./hierarchical-level-code eq '20'}" />
                                    </xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:initiator="PRV" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-specialty-information"
                                         type="PRV_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="CUR" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="foreign-currency-information"
                                         type="CUR_Segment" minOccurs="0" maxOccurs="1"/>
                            
                            <!-- Loop 2010AA - Billing Provider Detail -->
                            <xsd:element name="Loop_2010AA_BillingProviderDetailHL" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element dfdl:initiator="NM1" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-name"
                                                     type="NM1_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N3" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-address"
                                                     type="N3_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N4" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-city-state-zip"
                                                     type="N4_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-tax-id"
                                                     type="REF_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-upin-license-info"
                                                     type="REF_Segment" minOccurs="0" maxOccurs="2"/>
                                        <xsd:element dfdl:initiator="PER" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-contact-info"
                                                     type="PER_Segment" minOccurs="0" maxOccurs="2"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            
                            <!-- Loop 2010AB - Pay-To Address Name -->
                            <xsd:element name="Loop_2010AB_PayToAddressName" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element dfdl:initiator="NM1" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="pay-to-address-name"
                                                     type="NM1_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N3" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="pay-to-address"
                                                     type="N3_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N4" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="pay-to-city-state-zip"
                                                     type="N4_Segment" minOccurs="1" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            
                            <!-- Loop 2010AC - Pay-To Plan Name -->
                            <xsd:element name="Loop_2010AC_PayToPlanName" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element dfdl:initiator="NM1" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="pay-to-plan-name"
                                                     type="NM1_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N3" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="pay-to-plan-address"
                                                     type="N3_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N4" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="pay-to-plan-city-state-zip"
                                                     type="N4_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="pay-to-plan-secondary-id"
                                                     type="REF_Segment" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="pay-to-plan-tax-id"
                                                     type="REF_Segment" minOccurs="0" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <!-- Loop 2000B - Subscriber Detail -->
                <xsd:element name="Loop_2000B_SubscriberDetail" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element dfdl:initiator="HL" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="subscriber-hierarchical-level"
                                         type="HL_Segment" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                                        <dfdl:discriminator test="{hierarchical-level-code eq '22'}"/>
                                    </xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:initiator="SBR" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="subscriber-information"
                                         type="SBR_Segment" minOccurs="1" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="PAT" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="patient-information"
                                         type="PAT_Segment" minOccurs="0" maxOccurs="1"/>
                            
                            <!-- Loop 2010BA - Subscriber Name -->
                            <xsd:element name="Loop_2010BA_SubscriberName" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element dfdl:initiator="NM1" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="subscriber-name"
                                                     type="NM1_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N3" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="subscriber-address"
                                                     type="N3_Segment" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N4" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="subscriber-city-state-zip"
                                                     type="N4_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="DMG" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="subscriber-demographic-info"
                                                     type="DMG_Segment" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="subscriber-secondary-id"
                                                     type="REF_Segment" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="property-and-casualty-claim-number"
                                                     type="REF_Segment" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="PER" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="property-casualty-contact-info"
                                                     type="PER_Segment" minOccurs="0" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            
                            <!-- Loop 2010BB - Payer Name -->
                            <xsd:element name="Loop_2010BB_PayerName" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element dfdl:initiator="NM1" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="payer-name"
                                                     type="NM1_Segment" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N3" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="payer-address"
                                                     type="N3_Segment" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="N4" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="payer-city-state-zip"
                                                     type="N4_Segment" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="payer-secondary-id"
                                                     type="REF_Segment" minOccurs="0" maxOccurs="3"/>
                                        <xsd:element dfdl:initiator="REF" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="billing-provider-secondary-id"
                                                     type="REF_Segment" minOccurs="0" maxOccurs="2"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <!-- Loop 2300 - Claim Information -->
                <xsd:element name="Loop_2300_ClaimInformation" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element dfdl:initiator="CLM" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="claim-information"
                                         type="CLM_Segment" minOccurs="1" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="onset-illness-or-symptom"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="initial-treatment-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="last-seen-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="acute-manifestation-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="accident-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="last-menstrual-period-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="last-x-ray-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="hearing-vision-prescription-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="disability-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="last-worked-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="authorized-return-to-work-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="admission-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="discharge-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="1"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="assumed-relinquished-care-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="2"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="property-casualty-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="2"/>
                            <xsd:element dfdl:initiator="DTP" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="repricer-received-date"
                                         type="DTP_Segment" minOccurs="0" maxOccurs="2"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element dfdl:initiator="SE" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="transaction-set-trailer"
                             type="SE_TransactionSetTrailer"/>
                <xsd:element dfdl:initiator="GE" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="functional-group-trailer"
                             type="GE_FunctionalGroupTrailer"/>
                <xsd:element dfdl:initiator="IEA" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
                             name="interchange-control-trailer" type="IEA_InterchangeTrailer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Segment Type Definitions -->
    <xsd:complexType name="ISA_InterchangeHeader">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="auth-qual" type="alpha2-2"/>
            <xsd:element name="auth-id" type="alpha10-10"/>
            <xsd:element name="security-qual" type="alpha2-2"/>
            <xsd:element name="security-id" type="alpha10-10"/>
            <xsd:element name="sender-qual" type="alpha2-2"/>
            <xsd:element name="sender-id" type="alpha15-15"/>
            <xsd:element name="receiver-qual" type="alpha2-2"/>
            <xsd:element name="receiver-id" type="alpha15-15"/>
            <xsd:element name="date" type="alpha6-6"/>
            <xsd:element name="time" type="numeric4-4"/>
            <xsd:element name="standard" type="alpha1-1"/>
            <xsd:element name="version" type="numeric5-5"/>
            <xsd:element name="interchange-control-number" type="numeric9-9"/>
            <xsd:element name="ack" type="numeric1-1"/>
            <xsd:element name="test" type="alpha1-1"/>
            <xsd:element name="s-delimiter" type="alpha1-1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GS_FunctionalGroupHeader">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="code" type="alpha2-2"/>
            <xsd:element name="sender" type="alpha2-15"/>
            <xsd:element name="receiver" type="alpha2-15"/>
            <xsd:element name="date" type="alpha8-8"/>
            <xsd:element name="time" type="numeric4-8"/>
            <xsd:element name="group-control-number" type="numeric1-9"/>
            <xsd:element name="standard" type="alpha1-2"/>
            <xsd:element name="version" type="alpha1-12"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ST_TransactionSetHeader">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="code" type="numeric3-3"/>
            <xsd:element name="transaction-set-control-number" type="alpha4-9"/>
            <xsd:element name="implementation-convention-reference" type="alpha1-35" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BHT_BeginningHierarchicalTransaction">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="hierarchical-structure-code" type="alpha4-4"/>
            <xsd:element name="transaction-set-purpose-code" type="alpha2-2"/>
            <xsd:element name="reference-identification" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="time" type="alpha4-8" minOccurs="0"/>
            <xsd:element name="transaction-type-code" type="alpha2-2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BPR_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="transaction-handling-code" type="alpha1-2"/>
            <xsd:element name="monetary-amount" type="decimal1-18"/>
            <xsd:element name="credit-debit-flag-code" type="alpha1-1"/>
            <xsd:element name="payment-method-code" type="alpha3-3"/>
            <xsd:element name="payment-format-code" type="alpha1-3" minOccurs="0"/>
            <xsd:element name="depository-financial-institution-dfi-identification-number-qualifier" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="depository-financial-institution-dfi-identification-number" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="account-number-qualifier" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="sender-bank-account-number" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="originating-company-identifier" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="originating-company-supplemental-code" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="receiver-or-provider-bank-id-number-qualifier" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="receiver-or-provider-bank-id-number" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="receiver-or-provider-account-number-qualifier" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="receiver-or-provider-account-number" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="business-function-code" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="dfi-id-number-qualifier" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="dfi-identification-number" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="account-number-qualifier-2" type="alpha1-3" minOccurs="0"/>
            <xsd:element name="sender-bank-account-number-2" type="alpha1-35" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TRN_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="trace-type-code" type="alpha1-2"/>
            <xsd:element name="reference-identification" type="alpha1-50"/>
            <xsd:element name="originating-company-identifier" type="alpha10-10" minOccurs="0"/>
            <xsd:element name="reference-identification-2" type="alpha1-50" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CUR_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="entity-identifier-code" type="alpha2-3"/>
            <xsd:element name="currency-code" type="alpha3-3"/>
            <xsd:element name="exchange-rate" type="decimal4-10" minOccurs="0"/>
            <xsd:element name="entity-identifier-code-2" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="currency-code-2" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="currency-market-exchange-code" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="date-time-qualifier" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="time" type="alpha4-8" minOccurs="0"/>
            <xsd:element name="date-time-qualifier-2" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="date-2" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="time-2" type="alpha4-8" minOccurs="0"/>
            <xsd:element name="date-time-qualifier-3" type="alpha3-3" minOccurs="0"/>
            <xsd:element name="date-time-period" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="date-time-period-2" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier-2" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="date-time-period-3" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier-3" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="date-time-period-4" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier-4" type="alpha2-3" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HL_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="hierarchical-id-number" type="alpha1-12"/>
            <xsd:element name="hierarchical-parent-id-number" type="alpha1-12" minOccurs="0"/>
            <xsd:element name="hierarchical-level-code" type="alpha1-2"/>
            <xsd:element name="hierarchical-child-code" type="alpha1-1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PRV_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="provider-code" type="alpha1-3"/>
            <xsd:element name="reference-identification-qualifier" type="alpha2-3"/>
            <xsd:element name="reference-identification" type="alpha1-50"/>
            <xsd:element name="state-or-province-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="specialty-information" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="provider-organization-code" type="alpha1-10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SBR_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="payer-responsibility-sequence-number-code" type="alpha1-1"/>
            <xsd:element name="individual-relationship-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="insured-group-or-policy-number" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="other-insured-group-name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="insurance-type-code" type="alpha1-3" minOccurs="0"/>
            <xsd:element name="coordination-of-benefits-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="yes-no-condition-response-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="employment-status-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="claim-filing-indicator-code" type="alpha1-2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PAT_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="individual-relationship-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="patient-location-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="employment-status-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="student-status-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="date-time-qualifier" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="weight" type="decimal1-10" minOccurs="0"/>
            <xsd:element name="yes-no-condition-response-code" type="alpha1-1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DMG_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="date-time-period-format-qualifier" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="date-time-period" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="gender-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="marital-status-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="race-or-ethnicity-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="citizenship-status-code" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="country-code" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="basis-of-verification-code" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="quantity" type="decimal1-10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="REF_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="reference-identification-qualifier" type="alpha2-3"/>
            <xsd:element name="reference-identification" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="description" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="reference-identifier" type="C040_Type" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DTM_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="date-time-qualifier" type="alpha3-3"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="time" type="alpha4-8" minOccurs="0"/>
            <xsd:element name="time-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="date-time-period-format-qualifier" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="date-time-period" type="alpha1-2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="N1_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="entity-identifier-code" type="alpha2-3"/>
            <xsd:element name="name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="identification-code-qualifier" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="identification-code" type="alpha2-80" minOccurs="0"/>
            <xsd:element name="entity-identifier-code-2" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="identification-code-2" type="alpha2-80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NM1_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="entity-identifier-code" type="alpha2-3"/>
            <xsd:element name="entity-type-qualifier" type="alpha1-1"/>
            <xsd:element name="name-last-or-organization-name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="name-first" type="alpha1-35" minOccurs="0"/>
            <xsd:element name="name-middle" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="name-prefix" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="name-suffix" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="identification-code-qualifier" type="alpha1-3" minOccurs="0"/>
            <xsd:element name="identification-code" type="alpha2-80" minOccurs="0"/>
            <xsd:element name="entity-relationship-code" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="entity-identifier-code-2" type="alpha2-80" minOccurs="0"/>
            <xsd:element name="entity-identifier-code-qualifier-2" type="alpha2-3" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="N3_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="address-information" type="alpha1-55"/>
            <xsd:element name="address-information-2" type="alpha1-55" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="N4_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="city-name" type="alpha2-30"/>
            <xsd:element name="state-or-province-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="postal-code" type="alpha3-15" minOccurs="0"/>
            <xsd:element name="country-code" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="location-qualifier" type="alpha1-4" minOccurs="0"/>
            <xsd:element name="location-identifier" type="alpha1-4" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Name_Segment_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="entity-identifier-code" type="alpha2-3"/>
            <xsd:element name="name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="identification-code-qualifier" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="identification-code" type="alpha2-80" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Address_Segment_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="address-information" type="alpha1-55"/>
            <xsd:element name="address-information-2" type="alpha1-55" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Location_Segment_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="city-name" type="alpha2-30"/>
            <xsd:element name="state-or-province-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="postal-code" type="numeric3-15" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PER_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="contact-function-code" type="alpha2-2"/>
            <xsd:element name="name" type="alpha1-60" minOccurs="0"/>
            <xsd:element name="communication-number-qualifier" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="communication-number" type="alpha1-256" minOccurs="0"/>
            <xsd:element name="communication-number-qualifier-2" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="communication-number-2" type="alpha1-256" minOccurs="0"/>
            <xsd:element name="communication-number-qualifier-3" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="communication-number-3" type="alpha1-256" minOccurs="0"/>
            <xsd:element name="contact-inquiry-reference" type="alpha7-20" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RDM_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="report-transmission-code" type="alpha1-2"/>
            <xsd:element name="name" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="communication-number-qualifier" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="communication-number" type="alpha1-256" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LX_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="assigned-number" type="numeric1-6"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TS3_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="reference-identification" type="alpha2-80"/>
            <xsd:element name="facility-code-value" type="alpha1-9" minOccurs="0"/>
            <xsd:element name="date" type="alpha8-8" minOccurs="0"/>
            <xsd:element name="quantity" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-2" type="numeric1-6" minOccurs="0"/>
            <xsd:element name="monetary-amount-3" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-4" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-5" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-6" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-7" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-8" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-9" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-10" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-11" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-12" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-13" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-14" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-15" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-16" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-17" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-18" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-19" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="monetary-amount-20" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TS2_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="supplemental-amount-1" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-2" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-3" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-4" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-5" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-6" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-7" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-8" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-9" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-10" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-11" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-12" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-13" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-14" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-15" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-16" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-17" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-18" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="supplemental-amount-19" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CLP_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="claim-submitters-identifier" type="alpha1-38"/>
            <xsd:element name="claim-status-code" type="numeric1-2"/>
            <xsd:element name="total-claim-charge-amount" type="decimal1-18"/>
            <xsd:element name="claim-payment-amount" type="decimal1-18"/>
            <xsd:element name="patient-responsibility-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-filing-indicator-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="payer-claim-control-number" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="facility-type-code" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="claim-frequency-code" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="patient-status-code" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="diagnosis-related-group-code" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="drg-weight" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="discharge-fraction" type="alpha1-38" minOccurs="0"/>
            <xsd:element name="ymd-date" type="alpha1-38" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CAS_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="claim-adjustment-group-code" type="alpha1-2"/>
            <xsd:element name="claim-adjustment-reason-code" type="alpha1-5"/>
            <xsd:element name="monetary-amount" type="decimal1-18"/>
            <xsd:element name="quantity" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-2" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-2" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-2" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-3" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-3" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-3" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-4" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-4" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-4" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-5" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-5" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-5" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="claim-adjustment-reason-code-6" type="alpha1-5" minOccurs="0"/>
            <xsd:element name="monetary-amount-6" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="quantity-6" type="decimal1-15" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MIA_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="covered-days-or-visits-count" type="decimal1-18"/>
            <xsd:element name="pps-operating-outlier-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="lifetime-psychiatric-days-count" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code" type="alpha1-15" minOccurs="0"/>
            <xsd:element name="claim-disproportionate-share-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-msp-pass-through-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-pps-capital-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-fsp-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-hsp-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-dsh-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="old-capital-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-ime-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-operating-hospital-specific-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="cost-report-day-count" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-operating-federal-specific-drg-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-pps-capital-outlier-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-indirect-medical-education-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="nonpayable-professional-component-billed-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-2" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-3" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-4" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="pps-capital-exception-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="pps-capital-disproportionate-share-drg-amount" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MOA_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="reimbursement-rate" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="hcpcs-payable-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-2" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-3" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-4" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="claim-payment-remark-code-5" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="end-stage-renal-disease-payment-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="non-payable-professional-component-billed-amount" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AMT_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="amount-qualifier-code" type="alpha1-3"/>
            <xsd:element name="monetary-amount" type="decimal1-18"/>
            <xsd:element name="credit-debit-flag-code" type="alpha1-1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QTY_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="quantity-qualifier" type="alpha2-2"/>
            <xsd:element name="quantity" type="decimal1-15"/>
            <xsd:element name="composite-unit-of-measure" type="C001_Type" minOccurs="0"/>
            <xsd:element name="free-form-information" type="alpha1-1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SVC_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="composite-medical-procedure-identifier" type="alpha1-80"/>
            <xsd:element name="line-item-charge-amount" type="decimal1-18"/>
            <xsd:element name="line-item-provider-payment-amount" type="decimal1-18"/>
            <xsd:element name="national-uniform-billing-committee-revenue-code" type="alpha1-48" minOccurs="0"/>
            <xsd:element name="quantity" type="decimal1-15" minOccurs="0"/>
            <xsd:element name="composite-medical-procedure-identifier-original" type="alpha1-80" minOccurs="0"/>
            <xsd:element name="units-of-service-count" type="decimal1-15" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LQ_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="code-list-qualifier-code" type="alpha2-2"/>
            <xsd:element name="industry-code" type="alpha1-30"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PLB_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="provider-identifier" type="alpha2-80"/>
            <xsd:element name="fiscal-period-date" type="alpha8-8"/>
            <xsd:element name="adjustment-identifier" type="alpha1-50"/>
            <xsd:element name="provider-adjustment-amount" type="decimal1-18"/>
            <xsd:element name="adjustment-identifier-2" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-2" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="adjustment-identifier-3" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-3" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="adjustment-identifier-4" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-4" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="adjustment-identifier-5" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-5" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="adjustment-identifier-6" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="provider-adjustment-amount-6" type="decimal1-18" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CLM_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="claim-submitters-identifier" type="alpha1-38"/>
            <xsd:element name="monetary-amount" type="decimal1-18" minOccurs="0"/>
            <xsd:element name="claim-filing-indicator-code" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="non-institutional-claim-type-code" type="alpha1-10" minOccurs="0"/>
            <xsd:element name="health-care-service-location-information" type="alpha1-25" minOccurs="0"/>
            <xsd:element name="yes-no-condition-response-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="provider-accept-assignment-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="yes-no-condition-response-code-2" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="release-of-information-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="patient-signature-source-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="related-causes-information" type="alpha1-50" minOccurs="0"/>
            <xsd:element name="special-program-code" type="alpha2-3" minOccurs="0"/>
            <xsd:element name="yes-no-condition-response-code-3" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="level-of-service-code" type="alpha1-3" minOccurs="0"/>
            <xsd:element name="yes-no-condition-response-code-4" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="provider-agreement-code" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="claim-status-code" type="alpha1-2" minOccurs="0"/>
            <xsd:element name="yes-no-condition-response-code-5" type="alpha1-1" minOccurs="0"/>
            <xsd:element name="claim-submission-reason-code" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="delay-reason-code" type="alpha1-2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DTP_Segment">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="date-time-qualifier" type="alpha3-3"/>
            <xsd:element name="date-time-period-format-qualifier" type="alpha1-3"/>
            <xsd:element name="date-time-period" type="alpha1-35"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SE_TransactionSetTrailer">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="number-of-included-segments" type="numeric1-10"/>
            <xsd:element name="transaction-set-control-number" type="alpha4-9"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GE_FunctionalGroupTrailer">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="number-of-transaction-sets" type="numeric1-6"/>
            <xsd:element name="group-control-number" type="numeric1-9"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IEA_InterchangeTrailer">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="number-of-function-groups-included" type="numeric1-5"/>
            <xsd:element name="interchange-control-number" type="numeric9-9"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Composite Data Element Types -->
    <xsd:complexType name="C001_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="unit-or-basis-for-measurement-code" type="alpha2-2"/>
            <xsd:element name="exponent" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="multiplier" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code-2" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="exponent-2" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="multiplier-2" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code-3" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="exponent-3" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="multiplier-3" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code-4" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="exponent-4" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="multiplier-4" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="unit-or-basis-for-measurement-code-5" type="alpha2-2" minOccurs="0"/>
            <xsd:element name="exponent-5" type="alpha1-17" minOccurs="0"/>
            <xsd:element name="multiplier-5" type="alpha2-2" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="C003_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="product-service-id-qualifier" type="alpha1-48"/>
            <xsd:element name="product-service-id" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-modifier-1" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-modifier-2" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-modifier-3" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-modifier-4" type="alpha1-7" minOccurs="0"/>
            <xsd:element name="procedure-description" type="alpha1-30" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="C040_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="reference-identification-qualifier" type="alpha1-30"/>
            <xsd:element name="reference-identification" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="reference-identification-qualifier-2" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="reference-identification-2" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="reference-identification-qualifier-3" type="alpha1-30" minOccurs="0"/>
            <xsd:element name="reference-identification-3" type="alpha1-30" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="C042_Type">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">
            <xsd:element name="adjustment-reason-code" type="alpha1-2"/>
            <xsd:element name="provider-adjustment-identifier" type="alpha1-50"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Simple Type Definitions -->
    <xsd:simpleType name="alpha1-1">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-2">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-3">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-4">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-5">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-7">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="7"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-9">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-10">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-12">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-15">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-17">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="17"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-25">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-30">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-35">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-38">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="38"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-48">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="48"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-50">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-55">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="55"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-60">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-80">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-2">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-3">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha3-3">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-15">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha4-4">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha4-8">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha4-9">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-30">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha2-80">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha1-256">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha10-10">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="10"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha15-15">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="15"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha7-20">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="7"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha6-6">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="6"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha8-8">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="8"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="alpha3-15">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Numeric Types -->
    <xsd:simpleType name="numeric1-1">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-2">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric3-3">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-5">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-6">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,6}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-9">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,9}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric1-10">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,10}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric3-15">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3,15}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric4-4">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric4-8">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4,8}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric5-5">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric6-6">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{6}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric8-8">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{8}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numeric9-9">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{9}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Decimal Types -->
    <xsd:simpleType name="decimal1-10">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]{1,8}(\.[0-9]{1,2})?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal1-15">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]{1,13}(\.[0-9]{1,2})?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal1-18">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]{1,16}(\.[0-9]{1,2})?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal4-10">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="-?[0-9]{1,8}(\.[0-9]{1,2})?"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>